##**Assignment-2**

**a) Look for the missing values in all the columns and either impute them (replace with mean,median, or mode) or drop them. Justify your action for this task.**

**b) Remove the units from some of the attributes and only keep the numerical values (for example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from “New_price”).**

In [1]:
import pandas as pd

In [3]:
file_path = '/content/train.csv'

# Data Loading using Pandas
df = pd.read_csv(file_path)

# Data Set Preview
df.head(11)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
6,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,5.20
7,9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,NaN,1.95
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
9,11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN,4.49
10,12,Maruti Swift VDI BSIV,Jaipur,2015,64424,Diesel,Manual,First,25.2 kmpl,1248 CC,74 bhp,5.0,NaN,5.60

In [4]:
#Identifying Missing Values in the Dataset
missing_values = df.isna()
missing_values_count = missing_values.sum()

# Displaying Missing Values Count
print("Missing values count in each column:")
print(missing_values_count)

#Checking for overall Missing Values
if missing_values.any().any():
    print("There are missing values in the DataFrame.")
else:
    print("No missing values in the DataFrame.")

Missing values count in each column:
Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64
There are missing values in the DataFrame.

**Removing the Units and Extracting the numerical values**

In [5]:
df['Mileage']=df['Mileage'].str.split(' ').str[0]
df['Engine']=df['Engine'].str.split(' ').str[0]
df['Power']=df['Power'].str.split(' ').str[0]
df['Seats']=df['Seats'].fillna(0)

In [6]:
df['Mileage'] = df['Mileage']. astype(float)
df['Engine'] = df['Engine']. astype(float)
df['Power'] = df['Power']. astype(float)
df['Seats'] = df['Seats'] . astype(float)

**Imputing the missing values with median**

In [7]:
median_values = df[['Mileage', 'Engine', 'Power', 'Seats']].median()
df[['Mileage', 'Engine', 'Power', 'Seats']] = df[['Mileage', 'Engine', 'Power', 'Seats']].fillna(median_values)

In [8]:
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.40,1248.0,74.00,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.40,1120.0,71.00,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.00,2498.0,112.00,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.90,998.0,67.10,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936.0,57.60,5.0,NaN,2.50

**Since 'New_Price' has a significant number of missing values , we can drop it**

In [9]:
df.drop(columns=['New_Price'], inplace=True)

In [10]:
#Identifying Missing Values in the Dataset
missing_values = df.isna()
missing_values_count = missing_values.sum()

# Displaying Missing Values Count
print("Missing values count in each column:")
print(missing_values_count)

#Checking for overall Missing Values
if missing_values.any().any():
    print("There are missing values in the DataFrame.")
else:
    print("No missing values in the DataFrame.")

Missing values count in each column:
Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64
No missing values in the DataFrame.

**C) Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded value**

In [11]:
import pandas as pd

encoded_fuel = pd.get_dummies(df['Fuel_Type'], prefix='Fuel_Type')

encoded_transmission = pd.get_dummies(df['Transmission'], prefix='Transmission')


data = pd.concat([df, encoded_fuel, encoded_transmission], axis=1)


data.drop(['Fuel_Type', 'Transmission'], axis=1, inplace=True)

print(data)

      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0                 41000      First    19.67  1582.0  126.20    5.0  12.50
1                 46000      First    13.00  1199.0   88.70    5.0   4.50
2                 87000      First    20.77  1248.0   88.76    7.0   6.00
3                 40670     Second    15.20  1968.0  140.80    5.0  17.74
4                 86999      First    23.08  1461.0   63.10    5.0   3.50
...                 ...        ...      ...     ...     ...    ...    ...
5842              27365      First    28.40  1248.0   74.00    5.0   4.75
5843             100000      First    24.40  1120.0   71.00    5.0   4.00
5844              55000     Second    14.00  2498.0  112.00    8.0   2.90
5845              46000      First    18.90   998.0   67.10    5.0   2.65
5846              47000      First    25.44   936.0   57.60    5.0   2.50

      Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0                    1                   0                 0
1                    0                   0                 1
2                    1                   0                 0
3                    1                   0                 0
4                    1                   0                 0
...                ...                 ...               ...
5842                 1                   0                 0
5843                 1                   0                 0
5844                 1                   0                 0
5845                 0                   0                 1
5846                 1                   0                 0

      Transmission_Automatic  Transmission_Manual
0                          0                    1
1                          0                    1
2                          0                    1
3                          1                    0
4                          0                    1
...                      ...                  ...
5842                       0                    1
5843                       0                    1
5844                       0                    1
5845                       0                    1
5846                       0                    1

[5847 rows x 16 columns]

In [12]:
data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,1,0,0,0,1
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,0,0,1,0,1
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,1,0,0,0,1
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,1,0,0,1,0
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248.0,74.00,5.0,4.75,1,0,0,0,1
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120.0,71.00,5.0,4.00,1,0,0,0,1
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498.0,112.00,8.0,2.90,1,0,0,0,1
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998.0,67.10,5.0,2.65,0,0,1,0,1
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936.0,57.60,5.0,2.50,1,0,0,0,1

**d) Create one more feature and add this column to the dataset (you can use mutate function in R for this). For example, you can calculate the current age of the car by subtracting “Year” value from the current year.**

In [13]:
from datetime import datetime

In [14]:
current_year = datetime.now().year
data['Car_Age'] = current_year - data['Year']

In [15]:
data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,1,0,0,0,1,9
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,0,0,1,0,1,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,1,0,0,0,1,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,1,0,0,1,0,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,1,0,0,0,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248.0,74.00,5.0,4.75,1,0,0,0,1,10
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120.0,71.00,5.0,4.00,1,0,0,0,1,9
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498.0,112.00,8.0,2.90,1,0,0,0,1,12
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998.0,67.10,5.0,2.65,0,0,1,0,1,11
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936.0,57.60,5.0,2.50,1,0,0,0,1,13

**e) Perform select, filter, rename, mutate, arrange and summarize with group by operations (or their equivalent operations in python) on this dataset.**

In [16]:
#Selection
data_selection = data[['Name', 'Year', 'Kilometers_Driven', 'Owner_Type']]

#Filter
data_filter = data[data['Kilometers_Driven'] > 25000]

#Rename
data_renaming = data.rename(columns={'Name': 'Car_Name', 'Price': 'Price_in_Lak'})

#Mutate
current_year = datetime.now().year
data['Car_Age'] = current_year - data['Year']

#Arrangement
data_arrangement = data.sort_values(by='Price', ascending=True)

#Groupby
data_groupby = data.groupby('Name')['Price'].mean()

print
print("Selection:" , data_selection.head())
print("\nFiltered Data:" ,data_filter.head())
print("\nRenamed Data:" ,data_renaming.head())
print("\nMutate Data:"  ,data.head())
print("\nArranged Data:" ,data_arrangement.head())
print("\nGroupby Data:" ,data_groupby.head())

Selection:                                Name  Year  Kilometers_Driven Owner_Type
0  Hyundai Creta 1.6 CRDi SX Option  2015              41000      First
1                      Honda Jazz V  2011              46000      First
2                 Maruti Ertiga VDI  2012              87000      First
3   Audi A4 New 2.0 TDI Multitronic  2013              40670     Second
4            Nissan Micra Diesel XV  2013              86999      First

Filtered Data:    Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0              41000      First    19.67  1582.0  126.20    5.0  12.50
1              46000      First    13.00  1199.0   88.70    5.0   4.50
2              87000      First    20.77  1248.0   88.76    7.0   6.00
3              40670     Second    15.20  1968.0  140.80    5.0  17.74
4              86999      First    23.08  1461.0   63.10    5.0   3.50

   Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0                 1                   0                 0
1                 0                   0                 1
2                 1                   0                 0
3                 1                   0                 0
4                 1                   0                 0

   Transmission_Automatic  Transmission_Manual  Car_Age
0                       0                    1        9
1                       0                    1       13
2                       0                    1       12
3                       1                    0       11
4                       0                    1       11

Renamed Data:    Unnamed: 0                          Car_Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price_in_Lak  \
0              41000      First    19.67  1582.0  126.20    5.0         12.50
1              46000      First    13.00  1199.0   88.70    5.0          4.50
2              87000      First    20.77  1248.0   88.76    7.0          6.00
3              40670     Second    15.20  1968.0  140.80    5.0         17.74
4              86999      First    23.08  1461.0   63.10    5.0          3.50

   Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0                 1                   0                 0
1                 0                   0                 1
2                 1                   0                 0
3                 1                   0                 0
4                 1                   0                 0

   Transmission_Automatic  Transmission_Manual  Car_Age
0                       0                    1        9
1                       0                    1       13
2                       0                    1       12
3                       1                    0       11
4                       0                    1       11

Mutate Data:    Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0              41000      First    19.67  1582.0  126.20    5.0  12.50
1              46000      First    13.00  1199.0   88.70    5.0   4.50
2              87000      First    20.77  1248.0   88.76    7.0   6.00
3              40670     Second    15.20  1968.0  140.80    5.0  17.74
4              86999      First    23.08  1461.0   63.10    5.0   3.50

   Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0                 1                   0                 0
1                 0                   0                 1
2                 1                   0                 0
3                 1                   0                 0
4                 1                   0                 0

   Transmission_Automatic  Transmission_Manual  Car_Age
0                       0                    1        9
1                       0                    1       13
2                       0                    1       12
3                       1                    0       11
4                       0                    1       11

Arranged Data:       Unnamed: 0                  Name Location  Year  Kilometers_Driven  \
1660        1713          Tata Nano Lx     Pune  2011              65000
2758        2847      Hyundai Getz GLS     Pune  2005              86000
1577        1628  Maruti 800 Std BSIII   Jaipur  2004              12000
3039        3138        Maruti Zen LXI   Jaipur  1998              95150
3127        3228        Maruti 800 Std     Pune  2003              52000

     Owner_Type  Mileage  Engine  Power  Seats  Price  Fuel_Type_Diesel  \
1660     Second     26.0   624.0   35.0    4.0   0.44                 0
2758     Second     15.3  1341.0   83.0    5.0   0.45                 0
1577     Second     16.1   796.0   37.0    4.0   0.45                 0
3039      Third     17.3   993.0   60.0    5.0   0.45                 0
3127      First     16.1   796.0   37.0    4.0   0.50                 0

      Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Automatic  \
1660                   0                 1                       0
2758                   0                 1                       0
1577                   0                 1                       0
3039                   0                 1                       0
3127                   0                 1                       0

      Transmission_Manual  Car_Age
1660                    1       13
2758                    1       19
1577                    1       20
3039                    1       26
3127                    1       21

Groupby Data: Name
Ambassador Classic Nova Diesel     1.35
Audi A3 35 TDI Attraction         16.50
Audi A3 35 TDI Premium            19.25
Audi A3 35 TDI Premium Plus       18.90
Audi A3 35 TDI Technology         22.50
Name: Price, dtype: float64